<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Book</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:replace="~{layout :: link-css}"/>
</head>
<body>
<th:block th:replace="~{layout :: header}"></th:block>
<div class="container">
    <h1>Edit Book</h1>
    <form th:action="@{/books/edit}" th:object = "${book}" method="POST">

        <input class="form-control" type="hidden" id="id" th:field = "*{id}"><br>
        <div class="col-6 mb-3">
            <label class="form-label">Title:</label>
            <input class="form-control" type="text" id="title" th:field = "*{title}"><br>
            <span class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span><br>
        </div>

        <div class="col-6 mb-3">
            <label class="form-label">Author:</label>
            <input class="form-control" type="text" id="author" th:field = "*{author}"><br>
            <span class="text-danger" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></span><br>
        </div>

        <div class="col-6 mb-3">
            <label class="form-label">Price:</label>
            <input class="form-control" type="text" id="price" th:field = "*{price}"><br>
            <span class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span><br>
        </div>


        <div>
            <label class="form-label" >Loại</label>
            <select class="form-control" id="category" name="category.id">
                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}" th:if="${category.id==book.category.getId()}" selected="true"></option>
                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}" th:if="${category.id!=book.category.getId()}"></option>
            </select>
        </div>
        <input type="submit" value="Submit"/>
    </form>
    <br>
    <a th:href="@{/book}">Back To List</a>
</div>
<!--<div th:replace="fragments/footer :: footer"></div>-->
</body>
</html>
